body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
}
a {
    color: inherit;
}

/*===========pricing options ==========*/ 
.container {
    width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}
.title {
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    padding: 62px 0;
    margin-bottom: 40px;
}
.title::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background: #EC7979;
    left: 500px;
    bottom: 0;
}
.text {
    color: #86878B;
    margin-bottom: 71px;
}
.section__options {
    padding: 100px 0;
    background: #F5F5F5;
   
}

.options__wrapper {
    text-align: center;
}

.options__card_wrapper {
    display: flex;
    justify-content: space-between;
}
.option__card {
    width: 370px;
    height: 510px;
    text-align: center;
    transition: .5s ease;
}
.option__card:hover {
   /*box-shadow: (0px 4px 20px rgba(51, 51, 51, 0.2));*/
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
   
   transform: translate(0px, -20px);
}
.option__card__list {
    font-family: 'Raleway';
font-style: normal;
}
.option__card__list_item {
    color: #86878B;
    padding: 15px 0;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
}
.option__card__list_item:nth-child(1) {
    background: #333333;
    border: 1px solid #F5F5F5;
    padding: 21px 0 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.option__card__list_item:nth-child(2) {
    background: #333333;
    border: 1px solid #F5F5F5;
    padding: 33px 0 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.option__card__list_item:nth-child(3) {
    background: #333333;
    border: 1px solid #F5F5F5;
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.5);
}


